In [2]:
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns, numpy as np

In [3]:
df = pd.read_csv('train.csv')

# EDA

In [4]:
df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [5]:
df.describe()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
count,69999.000000,69999.0,69297.0,69297.0,69297.0,69999.000000,69999.000000,69999.000000,67231.000000,67312.000000,...,69999.000000,69999.000000,17568.000000,17865.000000,18417.000000,69999.000000,69999.000000,69999.000000,69999.00000,69999.000000
mean,34999.000000,109.0,0.0,0.0,0.0,283.134365,278.185912,278.858826,133.153275,133.894438,...,0.081444,0.085487,0.916325,0.909544,0.890319,1220.639709,68.108597,65.935830,60.07674,0.101887
std,20207.115084,0.0,0.0,0.0,0.0,334.213918,344.366927,351.924315,299.963093,311.277193,...,0.634547,0.680035,0.276907,0.286842,0.312501,952.426321,269.328659,267.899034,257.22681,0.302502
min,0.000000,109.0,0.0,0.0,0.0,-2258.709000,-1289.715000,-945.808000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.00000,0.000000
25%,17499.500000,109.0,0.0,0.0,0.0,93.581000,86.714000,84.095000,7.410000,6.675000,...,0.000000,0.000000,1.000000,1.000000,1.000000,468.000000,0.000000,0.000000,0.00000,0.000000
50%,34999.000000,109.0,0.0,0.0,0.0,197.484000,191.588000,192.234000,34.110000,32.280000,...,0.000000,0.000000,1.000000,1.000000,1.000000,868.000000,0.000000,0.000000,0.00000,0.000000
75%,52498.500000,109.0,0.0,0.0,0.0,370.791000,365.369500,369.909000,119.390000,115.837500,...,0.000000,0.000000,1.000000,1.000000,1.000000,1813.000000,0.000000,0.000000,0.00000,0.000000
max,69998.000000,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,7376.710000,8157.780000,...,33.000000,41.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.21000,1.000000

In [6]:
pd.set_option('display.max_rows', None)
df.isnull().sum()

id                              0
circle_id                       0
loc_og_t2o_mou                702
std_og_t2o_mou                702
loc_ic_t2o_mou                702
last_date_of_month_6            0
last_date_of_month_7          399
last_date_of_month_8          733
arpu_6                          0
arpu_7                          0
arpu_8                          0
onnet_mou_6                  2768
onnet_mou_7                  2687
onnet_mou_8                  3703
offnet_mou_6                 2768
offnet_mou_7                 2687
offnet_mou_8                 3703
roam_ic_mou_6                2768
roam_ic_mou_7                2687
roam_ic_mou_8                3703
roam_og_mou_6                2768
roam_og_mou_7                2687
roam_og_mou_8                3703
loc_og_t2t_mou_6             2768
loc_og_t2t_mou_7             2687
loc_og_t2t_mou_8             3703
loc_og_t2m_mou_6             2768
loc_og_t2m_mou_7             2687
loc_og_t2m_mou_8             3703
loc_og_t2f_mou_6             2768
loc_og_t2f_mou_7             2687
loc_og_t2f_mou_8             3703
loc_og_t2c_mou_6             2768
loc_og_t2c_mou_7             2687
loc_og_t2c_mou_8             3703
loc_og_mou_6                 2768
loc_og_mou_7                 2687
loc_og_mou_8                 3703
std_og_t2t_mou_6             2768
std_og_t2t_mou_7             2687
std_og_t2t_mou_8             3703
std_og_t2m_mou_6             2768
std_og_t2m_mou_7             2687
std_og_t2m_mou_8             3703
std_og_t2f_mou_6             2768
std_og_t2f_mou_7             2687
std_og_t2f_mou_8             3703
std_og_t2c_mou_6             2768
std_og_t2c_mou_7             2687
std_og_t2c_mou_8             3703
std_og_mou_6                 2768
std_og_mou_7                 2687
std_og_mou_8                 3703
isd_og_mou_6                 2768
isd_og_mou_7                 2687
isd_og_mou_8                 3703
spl_og_mou_6                 2768
spl_og_mou_7                 2687
spl_og_mou_8                 3703
og_others_6                  2768
og_others_7                  2687
og_others_8                  3703
total_og_mou_6                  0
total_og_mou_7                  0
total_og_mou_8                  0
loc_ic_t2t_mou_6             2768
loc_ic_t2t_mou_7             2687
loc_ic_t2t_mou_8             3703
loc_ic_t2m_mou_6             2768
loc_ic_t2m_mou_7             2687
loc_ic_t2m_mou_8             3703
loc_ic_t2f_mou_6             2768
loc_ic_t2f_mou_7             2687
loc_ic_t2f_mou_8             3703
loc_ic_mou_6                 2768
loc_ic_mou_7                 2687
loc_ic_mou_8                 3703
std_ic_t2t_mou_6             2768
std_ic_t2t_mou_7             2687
std_ic_t2t_mou_8             3703
std_ic_t2m_mou_6             2768
std_ic_t2m_mou_7             2687
std_ic_t2m_mou_8             3703
std_ic_t2f_mou_6             2768
std_ic_t2f_mou_7             2687
std_ic_t2f_mou_8             3703
std_ic_t2o_mou_6             2768
std_ic_t2o_mou_7             2687
std_ic_t2o_mou_8             3703
std_ic_mou_6                 2768
std_ic_mou_7                 2687
std_ic_mou_8                 3703
total_ic_mou_6                  0
total_ic_mou_7                  0
total_ic_mou_8                  0
spl_ic_mou_6                 2768
spl_ic_mou_7                 2687
spl_ic_mou_8                 3703
isd_ic_mou_6                 2768
isd_ic_mou_7                 2687
isd_ic_mou_8                 3703
ic_others_6                  2768
ic_others_7                  2687
ic_others_8                  3703
total_rech_num_6                0
total_rech_num_7                0
total_rech_num_8                0
total_rech_amt_6                0
total_rech_amt_7                0
total_rech_amt_8                0
max_rech_amt_6                  0
max_rech_amt_7                  0
max_rech_amt_8                  0
date_of_last_rech_6          1101
date_of_last_rech_7          1234
date_of_last_rech_8          2461
last_day_rch_amt_6              0
last_day_rch_amt_7              0
last_day_rch_amt_8              0
date_of_last_rech_data_6    52431
date_of_last_rech_data_7    52134
date_of_last_rech_data_8    51582
total_rech_data_6           52431
total_rech_data_7           52134
total_rech_data_8           51582
max_rech_data_6             52431
max_rech_data_7             52134
max_rech_data_8             51582
count_rech_2g_6             52431
count_rech_2g_7             52134
count_rech_2g_8             51582
count_rech_3g_6             52431
count_rech_3g_7             52134
count_rech_3g_8             51582
av_rech_amt_data_6          52431
av_rech_amt_data_7          52134
av_rech_amt_data_8          51582
vol_2g_mb_6                     0
vol_2g_mb_7                     0
vol_2g_mb_8                     0
vol_3g_mb_6                     0
vol_3g_mb_7                     0
vol_3g_mb_8                     0
arpu_3g_6                   52431
arpu_3g_7                   52134
arpu_3g_8                   51582
arpu_2g_6                   52431
arpu_2g_7                   52134
arpu_2g_8                   51582
night_pck_user_6            52431
night_pck_user_7            52134
night_pck_user_8            51582
monthly_2g_6                    0
monthly_2g_7                    0
monthly_2g_8                    0
sachet_2g_6                     0
sachet_2g_7                     0
sachet_2g_8                     0
monthly_3g_6                    0
monthly_3g_7                    0
monthly_3g_8                    0
sachet_3g_6                     0
sachet_3g_7                     0
sachet_3g_8                     0
fb_user_6                   52431
fb_user_7                   52134
fb_user_8                   51582
aon                             0
aug_vbc_3g                      0
jul_vbc_3g                      0
jun_vbc_3g                      0
churn_probability               0
dtype: int64

In [7]:
df.shape

(69999, 172)

In [8]:
print(4000 * 100 / 69999)
print(52000 * 100 / 69999)

5.714367348104973
74.28677552536465

A few columns have about 74% of their data missing. Thus, eliminating these columns.

In [9]:
i = 0
for col in df.columns:
    if df[col].isnull().sum() >= 4000:
        df = df.drop(col, axis = 1)
        i = i + 1
print(i)

30

In [10]:
df.shape

(69999, 142)

In [11]:
df.isnull().sum()

id                         0
circle_id                  0
loc_og_t2o_mou           702
std_og_t2o_mou           702
loc_ic_t2o_mou           702
last_date_of_month_6       0
last_date_of_month_7     399
last_date_of_month_8     733
arpu_6                     0
arpu_7                     0
arpu_8                     0
onnet_mou_6             2768
onnet_mou_7             2687
onnet_mou_8             3703
offnet_mou_6            2768
offnet_mou_7            2687
offnet_mou_8            3703
roam_ic_mou_6           2768
roam_ic_mou_7           2687
roam_ic_mou_8           3703
roam_og_mou_6           2768
roam_og_mou_7           2687
roam_og_mou_8           3703
loc_og_t2t_mou_6        2768
loc_og_t2t_mou_7        2687
loc_og_t2t_mou_8        3703
loc_og_t2m_mou_6        2768
loc_og_t2m_mou_7        2687
loc_og_t2m_mou_8        3703
loc_og_t2f_mou_6        2768
loc_og_t2f_mou_7        2687
loc_og_t2f_mou_8        3703
loc_og_t2c_mou_6        2768
loc_og_t2c_mou_7        2687
loc_og_t2c_mou_8        3703
loc_og_mou_6            2768
loc_og_mou_7            2687
loc_og_mou_8            3703
std_og_t2t_mou_6        2768
std_og_t2t_mou_7        2687
std_og_t2t_mou_8        3703
std_og_t2m_mou_6        2768
std_og_t2m_mou_7        2687
std_og_t2m_mou_8        3703
std_og_t2f_mou_6        2768
std_og_t2f_mou_7        2687
std_og_t2f_mou_8        3703
std_og_t2c_mou_6        2768
std_og_t2c_mou_7        2687
std_og_t2c_mou_8        3703
std_og_mou_6            2768
std_og_mou_7            2687
std_og_mou_8            3703
isd_og_mou_6            2768
isd_og_mou_7            2687
isd_og_mou_8            3703
spl_og_mou_6            2768
spl_og_mou_7            2687
spl_og_mou_8            3703
og_others_6             2768
og_others_7             2687
og_others_8             3703
total_og_mou_6             0
total_og_mou_7             0
total_og_mou_8             0
loc_ic_t2t_mou_6        2768
loc_ic_t2t_mou_7        2687
loc_ic_t2t_mou_8        3703
loc_ic_t2m_mou_6        2768
loc_ic_t2m_mou_7        2687
loc_ic_t2m_mou_8        3703
loc_ic_t2f_mou_6        2768
loc_ic_t2f_mou_7        2687
loc_ic_t2f_mou_8        3703
loc_ic_mou_6            2768
loc_ic_mou_7            2687
loc_ic_mou_8            3703
std_ic_t2t_mou_6        2768
std_ic_t2t_mou_7        2687
std_ic_t2t_mou_8        3703
std_ic_t2m_mou_6        2768
std_ic_t2m_mou_7        2687
std_ic_t2m_mou_8        3703
std_ic_t2f_mou_6        2768
std_ic_t2f_mou_7        2687
std_ic_t2f_mou_8        3703
std_ic_t2o_mou_6        2768
std_ic_t2o_mou_7        2687
std_ic_t2o_mou_8        3703
std_ic_mou_6            2768
std_ic_mou_7            2687
std_ic_mou_8            3703
total_ic_mou_6             0
total_ic_mou_7             0
total_ic_mou_8             0
spl_ic_mou_6            2768
spl_ic_mou_7            2687
spl_ic_mou_8            3703
isd_ic_mou_6            2768
isd_ic_mou_7            2687
isd_ic_mou_8            3703
ic_others_6             2768
ic_others_7             2687
ic_others_8             3703
total_rech_num_6           0
total_rech_num_7           0
total_rech_num_8           0
total_rech_amt_6           0
total_rech_amt_7           0
total_rech_amt_8           0
max_rech_amt_6             0
max_rech_amt_7             0
max_rech_amt_8             0
date_of_last_rech_6     1101
date_of_last_rech_7     1234
date_of_last_rech_8     2461
last_day_rch_amt_6         0
last_day_rch_amt_7         0
last_day_rch_amt_8         0
vol_2g_mb_6                0
vol_2g_mb_7                0
vol_2g_mb_8                0
vol_3g_mb_6                0
vol_3g_mb_7                0
vol_3g_mb_8                0
monthly_2g_6               0
monthly_2g_7               0
monthly_2g_8               0
sachet_2g_6                0
sachet_2g_7                0
sachet_2g_8                0
monthly_3g_6               0
monthly_3g_7               0
monthly_3g_8               0
sachet_3g_6                0
sachet_3g_7                0
sachet_3g_8                0
aon                        0
aug_vbc_3g                 0
jul_vbc_3g                 0
jun_vbc_3g                 0
churn_probability          0
dtype: int64

The missing data accounts for about 5% of the total dataset

In [12]:
df.churn_probability.sum() * 100 / 69999

10.188716981671167

About 10% of the total provided data has the churn label. 

And a max of 5.7% data is missing from an individual varible.

In [13]:
df_churn = df[df.churn_probability == 1]

In [14]:
print(df_churn.shape)

(7132, 142)

In [15]:
df_churn.isnull().sum().sum() * 100 / df.isnull().sum().sum()

58.38145430091807

In [19]:
df_churn.shape

(7132, 142)

In [22]:
df_churn.isnull().sum().max() * 100 / 7132

41.236679753224905

However, about 58% of the missing data belongs to the churned category. Thus, dropping null values would result in loss of valuable information in this case.

And the maximum number of rows (entries) that we would have to delete / use manipulated variables would account for nearly 41% of the total entries in the churn section.


We can assume the behaviour of churning clients is the same and replace all the null values with the mode value of that variable / column. 

OR

We could replace them with the mean of that column.


### Message for study partner ->
For some reason my laptop freezes everytime I try to dropna(). I couldn't figure out the issue and it is persistent. 

As a result I couldn't drop any of the null values. I've tried it after defragmenting the drive but to no success.

In [27]:
df['circle_id'].describe()

count    69999.0
mean       109.0
std          0.0
min        109.0
25%        109.0
50%        109.0
75%        109.0
max        109.0
Name: circle_id, dtype: float64

In [28]:
df['loc_og_t2o_mou'].describe()

count    69297.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: loc_og_t2o_mou, dtype: float64

In [29]:
df['std_og_t2o_mou'].describe()

count    69297.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: std_og_t2o_mou, dtype: float64

In [30]:
df['loc_ic_t2o_mou'].describe()

count    69297.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: loc_ic_t2o_mou, dtype: float64

In [31]:
df = df.drop(['loc_ic_t2o_mou','std_og_t2o_mou','loc_og_t2o_mou','circle_id'], axis = 1)

Total monthly reacharge per month

In [32]:
df['TotMnth_6'] = df.monthly_2g_6 + df.monthly_3g_6
df['TotMnth_7'] = df.monthly_2g_7 + df.monthly_3g_7
df['TotMnth_8'] = df.monthly_2g_8 + df.monthly_3g_8

In [33]:
df['TotSac_6'] = df.sachet_3g_6 + df.sachet_2g_6
df['TotSac_7'] = df.sachet_3g_7 + df.sachet_2g_7
df['TotSac_8'] = df.sachet_3g_8 + df.sachet_2g_8

Attempting to identify the increasing or decreasing trends in recharge frequency between months

In [34]:
df['Mnth_6-7'] = (df.TotMnth_6 - df.TotMnth_7)
df['Mnth_7-8'] = (df.TotMnth_7 - df.TotMnth_8)
df['Mnth_6-8'] = (df.TotMnth_6 - df.TotMnth_8)
df['Sac_6-7'] = (df.TotSac_6 - df.TotSac_7)
df['Sac_7-8'] = (df.TotSac_7 - df.TotSac_8)
df['Sac_6-8'] = (df.TotSac_6 - df.TotSac_8)

Trend analysis for data volume on a monthly basis

In [35]:
df['TotData_6'] = df.vol_2g_mb_6 + df.vol_3g_mb_6
df['TotData_7'] = df.vol_2g_mb_7 + df.vol_3g_mb_7
df['TotData_8'] = df.vol_2g_mb_8 + df.vol_3g_mb_8

df['DataChange6-7'] = (df.TotData_6 - df.TotData_7)
df['DataChange7-8'] = (df.TotData_7 - df.TotData_8)
df['DataChange6-8'] = (df.TotData_6 - df.TotData_8)

Trend Analysis on Recharge Amount.

In [36]:
df['RechChange_6-7'] = df.last_day_rch_amt_6 - df.last_day_rch_amt_7
df['RechChange_7-8'] = df.last_day_rch_amt_7 - df.last_day_rch_amt_8
df['RechChange_6-8'] = df.last_day_rch_amt_6 - df.last_day_rch_amt_8

Analysisng trends in total minutes of usage on monthly basis for both incoming and outgoing call

In [37]:
df['TotIC_mou_Chng_6-7'] = df.total_ic_mou_6 - df.total_ic_mou_7
df['TotIC_mou_Chng_7-8'] = df.total_ic_mou_7 - df.total_ic_mou_8
df['TotIC_mou_Chng_6-8'] = df.total_ic_mou_6 - df.total_ic_mou_8

df['TotOG_mou_Chng_6-7'] = df.total_og_mou_6 - df.total_og_mou_7
df['TotOG_mou_Chng_7-8'] = df.total_og_mou_7 - df.total_og_mou_8
df['TotOG_mou_Chng_6-8'] = df.total_og_mou_6 - df.total_og_mou_8

The Data doesn't have any direct varible mentionig customer staisfaction / feedback.

But the calls made to customer care may / may not be reflect the feedback report.

The increasing number of calls (Time spent on calls) may indicate increasing complaints.

In [38]:
df.loc_og_t2c_mou_8.shape

(69999,)

In [39]:
p = 0
q = 0
r = 0

for i in range(0,69999):
    if pd.isna(df.loc_og_t2c_mou_6[i]):
        df.loc_og_t2c_mou_6[i] = 0
        p = p + 1
for i in range(0,69999):
    if pd.isna(df.loc_og_t2c_mou_7[i]):
        df.loc_og_t2c_mou_7[i] = 0
        q = q + 1
for i in range(0,69999):
    if pd.isna(df.loc_og_t2c_mou_8[i]):
        df.loc_og_t2c_mou_8[i] = 0
        r = r + 1
        
print(p,q,r)

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18784\3810143424.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc_og_t2c_mou_6[i] = 0
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18784\3810143424.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc_og_t2c_mou_7[i] = 0
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18784\3810143424.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc_og_t2c_mou_8[i] = 0

2768 2687 3703

In [40]:
df['CustCall_6-7'] = df.loc_og_t2c_mou_6 - df.loc_og_t2c_mou_7
df['CustCall_7-8'] = df.loc_og_t2c_mou_7 - df.loc_og_t2c_mou_8
df['CustCall_6-8'] = df.loc_og_t2c_mou_6 - df.loc_og_t2c_mou_8

In [41]:
df['CustCall_6-8'].head(10)

0     0.00
1   -29.79
2     2.14
3    -8.03
4     0.00
5    11.50
6     0.00
7     0.00
8     0.00
9     0.00
Name: CustCall_6-8, dtype: float64

Average Revenue per user trend

In [42]:
df['Rev_Chng_6-7'] = df.arpu_6 - df.arpu_7
df['Rev_Chng_7-8'] = df.arpu_7 - df.arpu_8
df['Rev_Chng_6-8'] = df.arpu_6 - df.arpu_8

We could've substituted the orignal changed values to dummy variables for eg; 
1. A increase in values could be denoted by +1
2. A decrease in values could be denoted by -1
3. No net change could be denoted by 0

But this might not be so effective as an increment or decrement may not necessarily denote the probability to churn. But the actual values might provide some insight on the same.

In [43]:
df = df.drop(['last_date_of_month_6','last_date_of_month_7','last_date_of_month_8'], axis = 1)

# Model Building

Decision trees are rhobust and can worrk along with the outliers.